<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <nav>
    <a href="{{ url_for('index') }}">Go to Routes</a>
    <a href="{{ url_for('vuln_login') }}">LOGIN - Vulnerable</a>
    <a href="{{ url_for('safe_parameterized') }}">LOGIN - Parameterized</a>
    <a href="{{ url_for('safe_orm') }}">LOGIN - ORM</a>
    <a href="{{ url_for('vuln_union') }}">UNION - Vulnerable</a>
    <a href="{{ url_for('vuln_xss') }}">XSS - Vulnerable</a>
    <a href="{{ url_for('safe_xss_escaped') }}">XSS - Escaped</a>
    <a href="{{ url_for('safe_xss_csp') }}">XSS - CSP</a>
    </nav>

    <main>
        <h1>
            Landing + Routes Page for CSP 558 Final Project
        </h1>
        <p>
            Goal is to compare different mitigation techniques and showcase vunerabilities in sites.
            The focus is on SQL Injection and Cross Site Execution attacks, both of which are web attacks related to
            not filtering or being niave to user input as an attack method.
        </p>
        <h2>GitHub Repo</h2>
        <p><a href="https://github.com/ratanakhek22/CSP558_Project">CSP558_Project</a></p>
    </main>
</body>
</html>